.logo-container {
  @include flex-center;
  padding-bottom: 24px;
}

.logo {
  font-size: $font-size-logo;
  font-weight: 400;
  font-family: 'Product Sans', $font-family;
  margin: 0;
  user-select: none;
  letter-spacing: -2px;
}

.logo-d { color: $primary; }
.logo-e { color: $danger; }
.logo-g1 { color: $warning; }
.logo-o1 { color: $primary; }
.logo-o2 { color: $success; }
.logo-g2 { color: $danger; }

.results-logo {
  font-size: 22px;
  font-weight: 400;
  font-family: 'Product Sans', $font-family;
  text-decoration: none;
  letter-spacing: -1px;
  flex-shrink: 0;
  padding-right: 20px;
}
